<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="./styles/style.css" rel="stylesheet">
  </head>
  </body>
    <div class="obj2" id="obj2">
      <select id="item-menu">
        <option value="choose" selected>choose</option>
        <option value="a">A</option>
        <option value="b">B</option>
      </select>
    </div>
    <div class="container">
      <div class="obj1">
        <div class="option-button">
          Option 
        </div>
        <div class="items-quantity">
          <p>
            Quantity
          <p>
          <input type="number" max="200" maxlength="3" required>
        </div>
      </div>
      <div id="obj3" class="obj3">
        <div class="pagination">
          <a href="#" id="previous">
          </a>
          <a href="#" id="next">
          </a>
        </div>
      </div>
    </div>
    <script src="./scripts/jquery-3.3.1.slim.min.js"></script>
    <script src="./scripts/script.js"></script>
    <script src="./scripts/ejs.min.js"></script>
  </body>
</html>